@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

body {
    margin: 0px;
}
.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.logo .logo02 {
    display: none;
}

header {
    display: flex;
}

.main-menu {
    margin-top: 30px;
}

.main-menu ul{
    display: flex;
}

.user .user02 {
    display: none;
}

.car .car02 {
    display: none;
}

.main-menu ul li{
    list-style-type: none;
    margin-left: 60px;
    margin-right: 65px;

}

.main-menu ul li a{
    text-decoration: none;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.user {
    margin-top: 23px;
    display: flex;
}

.user h5 {
     margin-left: 18px;
    margin-top: 18px;
    width: 134px;
    height: 38px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}

.car {
    margin-top: 35px;
    margin-left: 11px;
}



/* SECTION STYLES */
 .section {
    width: 100%;
    height: 610px;
    background-color: #65C0F2;
}

.section h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 55px;
    padding-top: 25px;
    color: #ffff;
}

.black {
    background-color: #000000;
    width: 340px;
    height: 350px;
    border-radius: 100%;
    margin-left: 150px;
}

.banner {
    display: flex;
}

.banner p {
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 120px;
}

.banner p span{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #ff0000;
}

.cards {
    position: absolute;
    margin-top: 150px;
    padding-left: 180px;
}

.preserves {
    height: 400px;
    position: relative;
    margin-left: 150px;
    margin-top: -480px;
}

/* MAIN STYLES */

.section-offers h1 {
    background-color: #F42941;
    width: 100%;
    height: 123px;
    font-family:'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    padding-top: 25px;
}

.cards-offers p {
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    margin-left: 15px;
}

.cards-offers button {
    border-radius: 20px ;
    border:1px solid #FF7F00;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    background-color: #FF7F00;
    margin: 20px 0 0 80px;
    padding: 8px 8px 8px 8px ;
}

.cards-offers .cards-products{
    border: 2px solid #808080;
    border-radius: 4px;
    width: 316px;
    height: 413px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #fff;
}

/* SECTION PRODUCTS STYLES */

.products .section-products {
    background-color: #fff;
    color: #000000;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 30px 0 30px 50px;
}
.products {
    margin-bottom: 33px;
}

.cards-offers .cards-section {
    border: 2px solid #808080;
    border-radius: 4px;
    width: 316px;
    height: 410px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #fff;
}

.cards-section .pescado {
    padding-bottom: 7px;
}

.cards-section .images-products {
    width: 20px;
    height: 190px;
}

/* FOOTER STYLES */

footer {
    background-color: #EAB185;
    height: 593px;
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.information {
    margin: 0px 0px 0px 53px;
}

.information h1 {
    width: 344px;
    height: 53px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 46px;
    margin-left: 53px;
    margin-bottom: 7px;
}

.information h2 {
    width: 298px;
    height: 53px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-left: 59px;
}

.information  p {
    width: 350px;
    height: 211px;
    color: #000;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 59px;

}

.location h1 {
    width: 344px;
    height: 53px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 51px;
}

.icons {
    display: flex;
}

.icons .icon01 {
    margin: 0px 70px 21px 90px;
}

.icon02 {
    margin-right: 70px;
}

.name {
    display: flex;
    margin-left: 74px;
}

.name a {
    padding-right: 35px;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}


/* RESPONSIVE MOBILE */

/* ESTILOS RESPONSIVE MOBILE LOGO */

@media (min-width:320px) and (max-width:575px) {

    header {
        height: 45px;
        width: 100%;
        margin-bottom: 5px;
    }
    .logo .logo01 {
        display: none;
    }

    .logo .logo02 {
        display: block;
        height: 43px;
    }

    .logo {
        margin: 2px 15px 0px 5px;
        height: 43px;
    }

}

/* ESTILOS RESPONSIVE MOBILE MENU DE OPCIONES */

@media (min-width:320px) and (max-width:575px) {

    .main-menu {
        width: 100%;
        margin: 0px 0px 0px 14px;
    }
    .main-menu ul li a  {
        font-size: 12px;
    }

    .main-menu .li_none {
        display: none;
    }

    .main-menu ul {
        margin: 0px;
        padding: 0px;
    }

    .main-menu ul li {
        margin: 14px 25px 0px 0px;
    }
}

/* ESTILOS RESPONSIVE MOBILE USER Y CAR  */

@media (min-width:320px) and (max-width:575px) {
    .user .user01 {
        display: none;
    }

    .car .car01 {
        display: none;
    }

    .user .user02 {
        display: block;
    }

    .car .car02 {
        display: block;
    }

    .user h5 {
        display: none;
    }

    .car {
        margin:  14px 3px 0px 0px ;
        height: 25px;
    }

    .user {
        margin: 10px 7px 0px 0px ;
        height: 25px;
    }

}

/* ESTILOS RESPONSIVE MOBILE PAGE BANNER SECTION  */

@media (min-width:320px) and (max-width:575px) {
    .section .banner02 {
        display: none;
    }

    .section {
        width: 100%;
        height: 181px;
    }

    .section h1 {
        color: #F4EEEE;
        font-size: 24px;
        margin: 4px 0px 0px 20px;
        padding-top: 5px;
    }

    .banner .br {
        display: none;
    }

    .banner p {
        color: #000;
        font-size: 20px;
        margin: 11px 0px 0px 10px;
        padding: 0px;
    }

    .banner p span {
        color: #FFF;
        font-size: 24px;
        margin: 0px;
        padding: 0px;
    }

    .banner .cards {
        margin-top: 5px;
    }

    .cards .black {
        width: 139px;
        height: 139px;
        margin: 0px;
        padding: 0px;
    }

    .cards .preserves img {
        width: 58px;
        height: 139px;
    }

    .cards .preserves {
        margin-left: -11px;
        margin-top: -140px;
    }
}

/* ESTILOS RESPONSIVE MOBILE SECTION OFFERS */

@media (min-width:320px) and (max-width:575px) {
    .section-offers h1 {
        width: 100%;
        height: 38px;
        background-color: #F42941;
        color: #000;
        font-size: 20px;
        text-align: center;
        padding: 6px 0px 0px 0px ;
    }

    .cards-offers .card-none {
        display: none;
    }

    .cards-offers .cards-products {
        width: 172px;
        height: 281px;
        margin: 2px 0px 0px 5px ;
    }

    .cards-offers .cards-products p {
        width: 100%;
        height: 89px;
        font-size: 15px;
        padding: 0px;
        margin: 0px;
    }

    .cards-offers .cards-products hr {
        width: 137px;
    }

    .cards-offers .cards-products .img_milk {
        width: 100%;
        height: 95px;
    }

    .cards-offers .cards-products .img_detergent {
        height: 104px;
        padding-left: 23px !important;
        padding-top: 3px !important;
        margin-bottom: 4px;
    }

    .cards-offers .cards-products button {
        width: 115px;
        height: 28px;
        font-size: 14px;
        padding: 0px;
        margin: 22px 0px 13px 14px; 
        border-radius: 10px;
    }
}

/* ESTILOS RESPONSIVE MOBILE SECTION PRODUCTS */

@media (min-width:320px) and (max-width:575px) {
    .products .section-products {
        width: 100%;
        font-size: 32px;
        text-align: center;
        height: 49px;
        background-color: #DBB3B3;
        margin: 19px 0px 0px 0px ;
        padding: 5px;
    }

    .products .card_none {
        display: none;
    }

    .products p {
        font-size: 15px;
        color: #000;
    }

    .cards-offers .cards-section {
        width: 172px;
        height: 281px;
        margin: 0px;
    }

    .cards-offers .cards-section img {
        width: 100%;
        height: 147px;
        margin: 0px !important;
        padding: 0px !important;
    }
}


















@media (min-width:320px) and (max-width:575px) {
   

    footer {
        display: none;
    }


}