@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

body {
    margin: 0px;
}
.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.logo .logo02 {
    display: none;
}

header {
    display: flex;
}

.main-menu {
    margin-top: 30px;
}

.main-menu ul{
    display: flex;
}

.user .user02 {
    display: none;
}

.car .car02 {
    display: none;
}

.main-menu ul li{
    list-style-type: none;
    margin-left: 60px;
    margin-right: 65px;
    
}

.main-menu ul li a{
    text-decoration: none;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.user {
    margin-top: 23px;
    display: flex;
}

.user h5 {
     margin-left: 18px;
    margin-top: 18px;
    width: 134px;
    height: 38px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}

.car {
    margin-top: 35px;
    margin-left: 11px;
}



/* SECTION STYLES */
 .section {
    width: 100%;
    height: 610px;
    background-color: #65C0F2;
} 

.section h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 55px;
    padding-top: 25px;
    color: #ffff;
}

.black {
    background-color: #000000;
    width: 340px;
    height: 350px;
    border-radius: 100%;
    margin-left: 150px;
}

.banner {
    display: flex;
}

.banner p {
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 120px;
}

.banner p span{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #ff0000;
}

.cards {
    position: absolute;
    margin-top: 150px;
    padding-left: 180px;
} 

.preserves {
    height: 400px;
    position: relative;
    margin-left: 150px;
    margin-top: -480px;
}

/* MAIN STYLES */

.section-offers h1 {
    background-color: #F42941;
    width: 100%;
    height: 123px;
    font-family:'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    padding-top: 25px;
}

.cards-offers p {
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    margin-left: 15px;
}

.cards-offers button {
    border-radius: 20px ;
    border:1px solid #FF7F00;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    background-color: #FF7F00;
    margin: 20px 0 0 80px;
    padding: 8px 8px 8px 8px ;
}

.cards-offers .cards-products{
    border: 2px solid #808080;
    border-radius: 4px;
    width: 316px;
    height: 413px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #fff;
}
   
/* SECTION PRODUCTS STYLES */

.products .section-products {
    background-color: #fff;
    color: #000000;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 30px 0 30px 50px;
}
.products {
    margin-bottom: 33px;
}

.cards-offers .cards-section {
    border: 2px solid #808080;
    border-radius: 4px;
    width: 316px;
    height: 410px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #fff;
}

.cards-section .pescado {
    padding-bottom: 7px;
} 

.cards-section .images-products {
    width: 20px;
    height: 190px;
}

/* FOOTER STYLES */

footer {
    background-color: #EAB185;
    height: 593px;
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.information {
    margin: 0px 0px 0px 53px;
}

.information h1 {
    width: 344px;
    height: 53px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 46px;
    margin-left: 53px;
    margin-bottom: 7px;
}

.information h2 {
    width: 298px;
    height: 53px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-left: 59px;
}

.information  p {
    width: 350px;
    height: 211px;
    color: #000;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 59px;
    
}

.location h1 {
    width: 344px;
    height: 53px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 51px;
}

.icons {
    display: flex;
}

.icons .icon01 {
    margin: 0px 70px 21px 90px;
}

.icon02 {
    margin-right: 70px;
}

.name {
    display: flex;
    margin-left: 74px;
}

.name a {
    padding-right: 35px;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}


/* RESPONSIVE MOBILE */

/* ESTILOS DEL HEADER */

@media (min-width:320px) and (max-width:575px) {

    header {
        height: 60px;
    }
    .logo .logo01 {
        display: none;
    }

    .logo .logo02 {
        display: block;
        height: 100%;
    }
    .main-menu {
        height: 43px;
        margin: 0px;
    }
    .logo {
        margin: 0px;
        height: 43px;
        width: 63px;
    }

    .main-menu ul li a  {
        width: 40px;
        height: 24px;
        font-size: 12px;
        font-weight: 400;
    }

    .main-menu ul {
        margin: 0px;
        padding: 0px;
    }

    .main-menu ul li {
        width: 50px;
        height: 24px;
        margin: 10px 20px 0px 0px;
    }

    .user .user01 {
        display: none;
    }

    .car .car01 {
        display: none;
    }

    .user .user02 {
        display: block;
    }
    
    .car .car02 {
        display: block;
    }

    .user h5 {
        display: none;
    }

    .car {
        margin:  24px 0px 0px 0px ;
        height: 30px;
        width: 30px;
    }

    .user {
        margin: 9px 15px 0px 0px ;
        height: 25px;
        width: 25px;
    }
}

@media (min-width:320px) and (max-width:575px) {
    section {
        display: none;
    }
    main {
        display: none;
    }
    footer {
        display: none;
    }
}